#portfolio {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.portfolio, .portfolio2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1050px;
}

.container-esq-port {
    flex: 1;
    margin-right: 20px;
}

.container-dir-port h2, .container-esq-port h2{
    font-size: 17px;
    margin-bottom: 10px;
}
.container-dir-port h1, .container-esq-port h1{
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: 100;
}
.container-dir-port p, .container-esq-port p{
    margin-bottom: 10px;
}
.container-dir-port {
    flex: 1;
}

.container-esq-port img, .container-dir-port img{
    max-width: 500px;
}
.port-esq{
    max-width: 1070px;
    margin: 0 auto;
    text-align: left;
}
.port-esq h1 {
    font-size: 55px;
    font-weight: 100;
    margin: 0 auto;
}

.port-esq h2 {
    font-size: 25px;
    margin: 0;
}
@media only screen and (max-width: 768px){
    #portfolio{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .portfolio{
        flex-direction: column;
        text-align: center;
    }
    .portfolio2 .container-esq-port{
        margin: 0 auto;
    }
    .portfolio2{
        flex-direction: column-reverse;
        text-align: center;
        margin: 0 auto;
    }
    .container-esq-port img, .container-dir-port img{
        width: 400px;
        margin: 0 auto;
    }
    .container-dir-port h1, .container-esq-port h1{
        font-size: 30px;
    }
    .container-dir-port h2, .container-esq-port h2{
        font-size: 12px;
    }
    .container-dir-port p, .container-esq-port p{
        font-size: 15px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .port-esq h1 {
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        width: 318px;
    }
    .port-esq h2{
        font-size: 25px;
        text-align: center;
    }
    }